{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'doctor:index' %}"> <input type="button"vale="register"></a>
    <a href="{% url 'doctor:index' %}"><input type="button"vale="register"></a>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas porro, corporis repellendus nobis voluptatibus omnis provident! Asperiores corporis atque molestiae praesentium illum ad beatae nostrum, dolores saepe exercitationem! Beatae, commodi?</h1>
    <img src="{% static 'images/tree.jpg' %}" alt="">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque sit atque ex animi incidunt, deleniti facere soluta unde error accusamus suscipit expedita maxime necessitatibus minima numquam, molestias eos laborum totam!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus sit qui assumenda eligendi hic quasi atque fugit quo! Maiores ipsum sit officia soluta! Dolore esse ad dicta ratione ducimus vel.</p>
    hello
</body>
</html>